
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body style="padding: 0 5rem;">
    <div style="display: flex; font-size: 4rem; justify-content: center; ">
        <a style="text-decoration-line: none; color: orange; padding-right: 3rem;" href="/about">About</a>
        <a style="text-decoration-line: none; color: orange;" href="/data">Data</a>
    </div>
    <h1>About the Dataset</h1>
    <p>This dataset contains stock data for the top 10 video game companies.</p>
    <h2>Variable Definitions</h2>
    <ul>
        <li><b>Date</b>: The date of the stock record.</li>
        <li><b>Company</b>: The name of the video game company.</li>
        <li><b>Ticker Symbol</b>: The stock's ticker symbol.</li>
        <li><b>Currency</b>: The currency of the stock prices.</li>
        <li><b>Open</b>: The opening price of the stock on the given day.</li>
        <li><b>High</b>: The highest price of the stock on the given day.</li>
        <li><b>Low</b>: The lowest price of the stock on the given day.</li>
        <li><b>Close</b>: The closing price of the stock on the given day.</li>
        <li><b>Adj Close</b>: The adjusted closing price after adjustments for splits, dividends, etc.</li>
        <li><b>Volume</b>: The trading volume of the stock on the given day.</li>
    </ul>
    
</body>
</html>
